<!DOCTYPE html>
<html>
  <head>
    <title>Oyna Cloud</title>
  </head>
  <body>

    <h1>Welcome to Oyna</h1>
        <script>
          var useracc= '<%- JSON.stringify(people)%>' ;
  console.log(useracc);
</script>
  </body>
 

</html>
